{% extends view.base_template|default:"base.html" %}
{% load i18n %}

{% block title %}{% trans 'Confirm delete' %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="border-bottom pb-2">{% trans 'Are you sure?' %}</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form role="form" method="POST" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Delete' %} {{ object }}</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">{% trans 'Cancel' %}</button>
        </form>
    </div>
</div>

{% endblock %}
