{% extends view.base_template|default:"base.html" %}
{% load lazycrud %}
{% load static %}
{% load i18n %}

{% block js %}
{{ block.super }}
<script src="{% static 'lazycrud/js/object_list.js' %}" defer></script>
{% endblock %}

{% block title %}{{ view.page_title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="border-bottom pb-2">{{ view.page_title }}</h1>
    </div>
</div>
{% if view.create_url %}
<div class="row">
    <div class="col-md-12">
        <p class="float-end">
        {% block buttons %}
            <a class="btn btn-success" role="button" href="{{ view.create_url }}"><i class="fa fa-plus"></i> {{ view.create_label }}</a>
        {% endblock %}
        </p>
    </div>
</div>
<hr>
{% endif %}

{% block pre_table %}{% endblock %}

<div class="row mb-3 justify-content-end">
    <div class="col-auto d-flex align-items-center">
        <form hx-get="{{ request.path }}"
              hx-target="#htmx-table-results"
              hx-push-url="true"
              hx-trigger="submit, keyup changed delay:400ms from:input[name=q]"
              hx-vals="js:{o: new URLSearchParams(window.location.search).get('o') || ''}">
            <div class="input-group input-group-sm">
                <input type="search"
                       name="q"
                       value="{{ search_query }}"
                       class="form-control"
                       style="width: 200px;"
                       placeholder="{% trans 'Search...' %}"
                       aria-label="{% trans 'Search' %}">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="htmx-table-results">
            {% include "lazycrud/_htmx_table_partial.html" %}
        </div>
    </div>
</div>

{% block post_table %}{% endblock %}
{% endblock %}
